
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  padding: 16px;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}



:root {

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0.00%, 0.00%);
  --lighterBlue: hsl(212, 45%, 89%);
  --lightBlue: hsl(216, 15%, 48%);
  --blue: hsl(218, 44%, 22%); 
}

body {
  font-family: "Outfit", sans-serif;
  /* font-size: 15px; */
  font-size: 0.9375rem;
  background-color: var(--lighterBlue);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  padding: 20px;
  /* margin: 0 auto; */
  border-radius: 10px;
  max-width: 20rem;
}
img {
  /* width: 288px; */
  border-radius: 10px;
  display: block;
  height: auto;
  max-width: 100%;
}
.qr-text-content{
  /* max-width: 253px; */
  text-align: center;
}
.heading, .description {
  /* text-align: center; */
}
.heading{
  font-size: 22px;
}
.description{
  color: var(--lightBlue);
  line-height: 1.5;
  margin-bottom: 17px;
} 

.attribution {
  font-size: 11px;
  /* text-align: center; */
  /* margin-top: 5px; */
  gap: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
    